.why--grid {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.why--des {
  margin-bottom: 3rem;
}

.why--details {
  row-gap: 2rem;
}

.why--details-item {
  display: flex;
  align-items: start;
  column-gap: 1.25rem;

}

.why--details-img {
  width: 36px;
}


.why--details-img-wrapper {
  border: 2px dashed var(--title-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.why--details-item div:last-child {
  width: calc(100% - 80px);
}

.why--details-title {
  font-size: var(--largest-font-size);
  margin-bottom: 0.5rem;
}