.about {
  padding-bottom: 0;
}

.about--grid {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.about--img-wrapper {
  position: relative;
  padding-left: 1.5rem;
}

.about--img-wrapper::before {
  content: '';
  position: absolute;
  bottom: -1.125rem;
  left: 0;
  background-color: var(--first-color);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about--img {
  width: 100%;
}

.about--details {
  margin-block: 1.25rem 2.25rem;
}

.about--details-des {
  display: flex;
  align-items: center;
}

.about--details,
.about--details-des {
  gap: 0.625rem;
}

.about--button {
  width: max-content;
}