.features--grid {
  grid-template-columns: repeat(4, 1fr);
}
.features--item {
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: var(--radius);
  position: relative;
  transition: 0.5s var(--transition);
}
.features--item::before {
  content: '';
  position: absolute;
  inset: 0.75rem;
  border: 2px dashed var(--first-color);
  opacity: 0.2;
  border-radius: inherit;
}
.features--img {
  width: 60px;
  margin-bottom: 1.25rem;
}

.features--title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.625rem;
}
.features--shape {
  position: absolute;
  width: 120px;
  right: 1.25rem;
  top: 3rem;
  opacity: 0.2;
}
.features--item:hover {
  transform: translateY(-0.5rem);
}
