.footer {
    background-color: var(--container-color);
}

.footer--grid {
    grid-template-columns: 4fr 2fr 3fr 3fr;
    padding-block: 6.25rem 4.5rem;
}

.footer--title,
.footer--logo-img {
    margin-bottom: 2rem;
}

.footer--logo-img {
    width: 190px;

}

.footer--des {
    margin-bottom: 1.25rem;
}

.footer--contact-item {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 1rem;
}

.footer--contact-item .icon {
    color: var(--first-color);
    font-size: var(--larger-font-size);
}

.footer--title {
    font-size: var(--h3-font-size);
    letter-spacing: 1.5px;
    position: relative;
    padding-bottom: 1.25REM;
}

.footer--title::after,
.footer--title::before {
    content: ''
    ;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--first-color);

}

.footer--title::before {
    left: 0;
    width: 12px;
}

.footer--title::after {
    left: 1.125rem;
    width: 30px;
}

.footer--links,
.footer--link {
    display: flex;
}

.footer--links {
    flex-direction: column;
    gap: 1.25rem;
}

.footer--link {
    color: var(--title-color);
    align-items: center;
    column-gap: 0.25rem;
}

.footer--link .icon {
    color: var(--first-color);
}

.footer--opening-hour {
    background-color: var(--bg-color);
    padding: 2rem 1.5rem;
    position: relative;
}

.footer--opening-hour::before {
    content: '';
    position: absolute;
    inset: 0.5rem;
    border: 2px dashed var(--first-color)
}

.opening--hour-item {
    display: flex;
    justify-content: space-between;
}

.opening--hour-item:not(:last-child) {
    margin-bottom: 1.125rem;
}

.sub--input {
    border: 2px solid var(--title-color);
}

.sub--input::placeholder {
    color: var(--title-color);
}

.sub--btn {
    width: 100%;
    justify-content: center;
    margin-top: 1.25rem;
}

.footer--social-follow {
    font-size: var(--normal-font-size);
    margin-block: 1.5rem 1rem;
}

.footer--social-links {
    display: flex;
    column-gap: 1rem;
}

.footer--social-link {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: var(--title-color);
    border: 2px solid var(--first-color);
    place-items: center;
    display: grid;
    transition: 0.5s var(--transition);
}

.footer--social-link:hover {
    background-color: var(--first-color);
}

.copyright--text {
    padding-block: 1.25rem;
    border-top: 2px dashed hsla(0, 0%, 100%, 0.1);
    text-align: center;
    color: var(--title-color);
}

.copyright--text span {
    color: var(--first-color);
}